[MASTER]
ignore=venv

[MESSAGES CONTROL]
disable=
    missing-docstring,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-instance-attributes,
    too-many-locals,
    invalid-name,
    line-too-long,
    trailing-whitespace,
    wrong-import-position,
    wrong-import-order,
    broad-exception-caught,
    no-else-return,
    raise-missing-from,
    import-outside-toplevel,
    unused-import

[FORMAT]
max-line-length=150
